@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lato:wght@300&display=swap');

.negrito {
  font-weight: 500;
}

.tt {
    font-family: 'Courier Prime';
}

.normal {
    font-weight: normal;
}

.navbar-primary {
    background-color: #0A1E3C;

}

.bg-primary {
  background-color: #0A1E3C!important;
}

.radio-inline {
    margin-right: 42px;
}

.inner {
  width: 100%;
  display: inline-block;
}

.outer {
  width: 100%;
  text-align: center;
}

.div-titulo {
  position: fixed;
  top: 56px;
  width: 93.75%;
  background-color: white;
  z-index: 100;
  height: fit-content;
}

.div-dependente {
  top: 56px;
}

.layout-navbar-fixed .wrapper .main-sidebar:hover .brand-link {
  transition: width .3s ease-in-out;
  width: 470px!important;
}

.layout-navbar-fixed .wrapper .brand-link {
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: width .3s ease-in-out;
  width: 470px;
  z-index: 1035;
}

.brand-link .brand-image {
  float: left;
  line-height: .8;
  margin-left: 0.1em;
  margin-right: 0.5rem;
  margin-top: -3px;
  max-height: 33px;
  width: auto;
}


